* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  padding: 3em;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: rgba(255,255,255,.3);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 400px 1fr;
  overflow: hidden;
}

.resume_left {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(0,0,0,.5);
}

.resume_right {
  background-color: rgba(255,255,255, .8);
  color: rgba(0,0,0,.8);
  padding: 20px;
  
}

.resume__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  align-self: center;
}

.resume__personal {
  margin-bottom: 20px;
}

.resume__personal li,
.resume__contact li {
  display: flex;
  border-bottom: 1px solid rgba(255,255,255, .8);
  padding: 5px 0;
}

.key {
  width: 150px;
}

.resume__title {
  padding: 20px 0;
  font-size: 26px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.title__profession {
  font-size: 16px;
}

.resume__about {
  padding: 20px 0;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0,0,0,.5);
}
